body{
	margin: 5px 10px;
	padding: 5px;
}

header{
	background: #159F78;
	background-image: url("../images/flywheel.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	padding: 15px;
	height: 120px;
}

h1{
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;
	font-size: 20px;
}

nav>a{
	display: inline-block;
	float: left;
	margin:20px 0px 0px 50px;
	width: 120px;
	height: 30px;
	line-height: 30px;
	border-radius: 5px;
	text-decoration: none;
	text-align: center;
	font-size: 13px;
	background-color: #ffffff;
	opacity: 0.4;
	color: #000000;
	font-weight: bold;
}

nav>a.active{
	background-color: #ffffff;
	color: #3219ff;
	opacity: 1;
}

.left{
	display: inline-block;
	float: left;
	width:20%;
	height: 100vh;
	background: #7c9712;
}

.left>a>img{
	display: block;
	margin: 30px auto;
	width: 80%;
	border: 2px solid #000000;
}

.right{
	display: inline-block;
	float: right;
	width: 73%;
	padding-left: 1px;
	padding-right: 50px;
}

h2{
	color: #000000;
}

table{
	margin: 0px auto;
	min-width: 550px;
	line-height: 30px;
	font-family: arial, helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
}

th{
	line-height: 35px;
	background: #50701d;
	background: linear-gradient(#829f55, #50701d);
	background: -o-linear-gradient(#829f55, #50701d);
	background: -ms-linear-gradient(#829f55, #50701d);
	background: -moz-linear-gradient(#829f55, #50701d);
	background: -webkit-linear-gradient(#829f55, #50701d);
	color: #ffffff;
	border: solid #8ad527 2px;
	border-bottom: solid #8ad527 5px;
	border-radius: 5px 5px 0px 0px;
}

tr{
	background: #d9ebbc;
	opacity: .7;
}

th, td{
	text-align: center;
	padding: 0px 10px;
}

td{
	border-radius: 2px;
	color: #686868;
	text-shadow: 1px 1px #ffffff;
	border: solid 1px #000000;
}

tr th:first-child, tr td:first-child{
	text-align: left;
}

tr:hover{
	opacity: 1;
}
